[Interface]
PrivateKey = {{ wireguard_privatekey }}
Address = {{ wireguard_ipv4 }}/32
ListenPort = 51820
# 1420 = 1500 (physical path MTU) - 80 (WireGuard-over-IPv6 overhead)
MTU = 1420

{% for host in groups.k3s_cluster %}
[Peer]
# Name = {{ host }}
PublicKey = {{ hostvars[host].wireguard_publickey }}
AllowedIPs = {{ hostvars[host].wireguard_ipv4 }}/32{{ ', ' ~ hostvars[host].pod_cidr if host != inventory_hostname and host != wireguard_direct_peer | default('') else '' }}
{% if wireguard_direct_endpoint is defined and hostvars[host].wireguard_direct_endpoint is defined %}
Endpoint = {{ hostvars[host].wireguard_direct_endpoint }}
{% elif hostvars[host].wireguard_endpoint is defined %}
Endpoint = {{ hostvars[host].wireguard_endpoint }}
{% endif %}
PersistentKeepalive = 25

{% endfor %}
[Peer]
# Name = airelien.local
PublicKey = ACGz9Ngt85srpTlx8PljYT8uxeH22PoSDZkWYUsinxc=
AllowedIPs = 192.168.196.100/32

[Peer]
# Name = google-pixel.local
PublicKey = abRFZPwLetDYZ16KT+sG1er8yqLZs5Wt0IopCvNgxQM=
AllowedIPs = 192.168.196.101/32
